$pureWhite: #ffffff;
$opacityWhite:#ffffffb3;
$darkBlack: #000000;
$grayContact: #808080;
$bgGray:#f8f9fa;
$cofeColor:#8d703b;
$iconColor:#f6f2ea;
$grayy: #b3b3b3;
$footer:#232323;
$roomColor:#e6e6e6;

